*{
    border: 0;
    padding: 0;
    margin: 0;
}
button{
    position: absolute;
    top: 0;
    left: 0;
}
#audio{
    
    position:absolute;
    bottom: 0;
    width: 100%;
}
#file{
    display:none;
    /* position: absolute;
    top:0;
    right: 0; */
}